BOT_NAME=PVP DUEL BOT
OWNER_NUMBERS=6285956640569
PREFIXES=/,.,!
AUTH_DIR=./sessions
DB_PATH=./data/database.json
LOG_LEVEL=info
BAILEYS_LOG_LEVEL=silent
PRINT_QR=true
UI_MODE=plain
UI_COLOR=true
UI_MAX_EVENTS=12
